@media screen and (max-width: 750px) {
  .email-body {
    height: 25rem;
    width: 100%;
  }

  .email-header {
    height: 10rem;
    width: 100%;
    font-size: 4em;
  }

  .email-subtitle {
    font-style: italic;
    font-weight: lighter;
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-left: 1%;
    color: rgb(87, 86, 87);
  }

  .article-div {
    width: 95%;
    height: auto;
    align-self: center;
  }

  .article-image {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .email-header {
    height: 8rem;
    width: 100%;
    font-size: 2em;
  }

  .article-div {
    width: 90%;
  }
}
